<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/BudgetAccounting</property>
        <property name="hibernate.connection.username">myuser</property>
        <property name="hibernate.connection.password">mypassword</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.jdbc.time_zone">UTC</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="org.example.domain.model.User"/>
        <mapping class="org.example.domain.model.Operation"/>
        <mapping class="org.example.domain.model.Category"/>
        <mapping class="org.example.domain.model.Household"/>
        <mapping class="org.example.domain.model.HouseholdMember"/>
        <mapping class="org.example.domain.model.Account"/>
        <mapping class="org.example.domain.model.AccountMember"/>

    </session-factory>
</hibernate-configuration>